/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Css reset ^^^ */

/* centering card/colors and fonts */

:root {
  /* Primary */
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  /* Neutral */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Cream);
  font-family: "Montserrat", sans-serif;
  color: var(--Dark-grayish-blue);
}

/* card */

.card {
  max-width: 600px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}

.card__img {
  width: 300px;
}

.card__content {
  max-width: 300px;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--White);
}

.card__category {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.25em;
}

.card__title {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--Very-dark-blue);
}

/* card price */
.card__price-container {
  display: flex;
  align-items: center;
}

.card__new-price {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--Dark-cyan);
}

.card__orginal-price {
  padding-left: 1rem;
  text-decoration: line-through;
  color: var(--Dark-grayish-blue);
}

.card p,
.card .btn {
  font-size: 0.875rem;
}

/* button styling */

.btn {
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  color: white;
  font-weight: 700;
  background-color: var(--Dark-cyan);
  width: 100%;
  margin: 0 auto;
  padding: 1em 1.5em;
  border-radius: 8px;
}

.btn__shopping-icon {
  margin-right: 0.5rem;
}
